main{
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.container ul li{
  font-size: 30px;
}
.container .form-control{
  max-width: 50%;
  margin: 15px 0;
}
.container .btn{
  max-width: 20%;
}